body { 
  background-color: black; 
  } 

.App {
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
}

nav {
  height: 175px;
  display: flex;
  background-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
}

.nav-title {
  font-size: 4rem;
  align-self: center;
  font-weight: 400;
  color: #ffffff;
}

a:hover.nav-logo-link {
  text-decoration: none;
}

.nav-link {
  margin-right: 20px;
  align-self: center;
  text-align: right;
}

.nav-right-links {
  display: flex;
  margin: auto 0 auto auto;
  margin-top: 125px;
  font-weight: 600;
}

.trip-form-container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.form textarea,
.form input,
.form select,
.button {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
  color: white;
  margin: 10px;
  padding: 7px 12px;
  cursor: default;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: black;
}

.vehicle-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vehicle-card {
  padding: 1em;
  width: 18em;
  height: 15em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Barlow Condensed';
  cursor: pointer;
}

.vehicle-card:hover {
  transform: scale(1.01);
}

.vehicle-card img {
  width: 100%;
  height: 10em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}

.about-blurb {
  font-size: 1.5rem;
  margin: 0px 150px;
}



